
#contactUsContent {
	min-height: 40px;
	font-size: 20px;
	margin: 0;
}

#mainPicContainer {
	padding-left: 1%;
}

#mainPic {
	width: 100%;
	max-height: 430px;
	min-height: 430px;
}

#mostPopular {
	padding-bottom: 3px;
}

#lowerSection {
	margin-top: 50px;
}